@CHARSET "UTF-8";

/********************************
A jQuery plugin for search hints

Author: Lorenzo Cioni 
https://github.com/lorecioni
********************************/

.autocomplete-container {
	position: relative;
	width: 283px;
	height: 32px;
	margin: 0 auto;
}

.autocomplete-input {
	/* padding: 9px; */
	height: 20px;
	width: 198px;
	border-radius: 3px;
	font-family: inherit;
	float: left;
	font-size: 1em;
	border: 1px solid rgba(0, 0, 0, 0.19);
	margin: 0;
}

.autocomplete-button {
	font-family: inherit;
	border: none;
	background-color: #990101;
	color: white;
	padding: 8px;
	float: left;
	cursor: pointer;
	border-radius: 0px 3px 3px 0px;
	transition: all 0.2s ease-out 0s;
	margin: 0.5px 0px 0px -1px;
}

.autocomplete-button:HOVER {
	background-color: #D11E1E;
}

.proposal-box {
	position: absolute;
	height: auto;
	border-left: 1px solid rgba(0, 0, 0, 0.11);
	border-right: 1px solid rgba(0, 0, 0, 0.11);
	left: 0px;
}

.proposal-list {
	list-style: none;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.44);
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.proposal-list li {
	text-align: left;
	padding: 5px;
	font-family: inherit;
	border-bottom: 1px solid rgba(0, 0, 0, 0.16);
	height: 25px;
	line-height: 25px;
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

li.proposal.selected {
	background-color: rgba(175, 42, 0, 0.52);
	color: white;
}